<h2><%=@author.name%></h2>
<ul>
    <%@author.books.each do |book|%>
        <li><%=link_to book.title, book_path(book)%>
        owned by: <%=link_to book.user.username, user_path(book.user)%>
        <%="(Loaned)" unless !book.loaned?%></li>
    <%end%>
</ul>